### Configurations
access_key=="#####################"
token="#####################"
auth=="#####################"
path="/Users/username/Backup"
logs="/Users/username/Logs"
path_dropbox="/Users/username/Tmp/Snapshots"
path_rclone="/Users/username/Downloads/rclone-v1.38-osx-amd64"
path_tmp="/Users/username/Tmp"
path_scripts="/Users/username/Scripts"

# Dynamically collect the install names based on the logins case.
websites=`ah list installs`
